/*
HOW TO ADD VAMPIRO ONE AND OLD STANDARD TT IN CSS
font-family: 'Vampiro One', cursive;
font-family: 'Old Standard TT', serif;
*/

.jumbotron {
  background-color: #de1738;
  color: white;
}

.jumbotron h1 {
  font-family: "Vampiro One", cursive;
  text-align: center;
  color: white;
  font-size: 5vw;
}

.jumbotron h3 {
  font-family: "Old Standard TT", serif;
  font-style: italic;
  text-align: center;
  font-size: 2.5vw;
}

.navigation {
  background-color: #de1738;
  padding: 1vw 0vw 1vw 0vw;
  margin-top: -10px;
}

.navigation ul li a {
  font-family: "Old Standard TT", serif;
  font-size: 1.5vw;
  color: white;
}

.navigation ul li a:hover {
  font-family: "Old Standard TT", serif;
  font-size: 1.5vw;
  font-style: italic;
  color: #cccccc;
}

.underbar {
  padding-top: 20px;
}

.bottom-row {
  padding-bottom: 20px;
}
